.character-panel {
    display:block;
    background: #fff;
    border: 1.5px solid rgba(0,0,0,0.12);
    border-radius: 1.54px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), inset 0 1px 0 rgba(255,255,255,0.8);
    position: relative;
    height: 550px;
    width: 100%;

}

.character-panel-header{

    padding: 0px 10px;
}

.hero-stat-bg
{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 540px;
}

.hero-equip-bg {
    position: absolute;
    left: 470px;
    top: 5px;
    width: 360px;
    height: 540px;
}

.stat {
    position: absolute;
    transform: translate(-50%, -50%)
}


.stat:hover {
    background: rgba(0,0,0,0.055);
}

.stat-val {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 6px;
    pointer-events: none;
    z-index: 2;
    color: #04ff04;
    text-shadow: -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black, 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black;
}


.icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.small-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
}


.equip {
    position: absolute;
    transform: translate(-50%, -50%)
}


.equip:hover {
    background: rgba(0,0,0,0.055);
}


.small {
}

.equip .stat-val
{
    bottom: 30px;
    color: #ffffff;
    font-size: 12px;
}
.equip-val {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1; 

    padding: 2px 6px;
    border-radius: 6px;
    background: rgba(0,0,0,1.0);    
    color: rgba(240,240,240,1.0);
    pointer-events: none;
    z-index: 1;
}


.equip .stat-val small {
    font-size: 12px;
    bottom: 20px;
    color: #ffffff;
}