<div class="character-panel">
    <header class="character-panel-header">
        <h3>Character</h3>
    </header>

    <img class="hero-stat-bg" src="png/heroItemBG.png"  />
    <img class="hero-equip-bg" src="png/inventoryBG.png"  />

    <div class="stat" style="left:148px; top:155px;"><img class="icon" src='png/Hero Health.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:236px; top:155px;"><img class="icon" src='png/Hero Damage.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:155px;"><img class="icon" src='png/Move Speed.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:412px; top:155px;"><img class="icon" src='png/Cast Rate.png'  /><span class='stat-val'>+9999</span></div>

    <div class="stat" style="left:236px; top:255px;"><img class="icon" src='png/AB1/Monk AB1.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:255px;"><img class="icon" src='png/AB2/Hero Boost Monk AB2.png' /><span class='stat-val'>+9999</span></div>
  
    <div class="stat" style="left:148px; top:355px;"><img class="icon"src='png/Tower Health.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:236px; top:355px;"><img class="icon"src='png/Tower Damage.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:355px;"><img class="icon"src='png/Tower Range.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:412px; top:355px;"><img class="icon" src='png/Tower Rate.png' /><span class='stat-val'>+9999</span></div>
    
    <div class="stat" style="left:148px; top:455px;"><img class="icon" src='png/Generic Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:236px; top:455px;"><img class="icon" src='png/Poison Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:324px; top:455px;"><img class="icon" src='png/Fire Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:412px; top:455px;"><img class="icon" src='png/Lightning Resistance.png' /><span class='stat-val'>90%</span></div>


    <div class="equip" style="left:755px; top:185px;"><img class="small-icon" src='png/equipFrame.png' /><span class='stat-val'>2400</span><span class='equip-val small'>Bracers</span></div>
    <div class="equip" style="left:555px; top:100px;"><img class="small-icon" src='png/equipFrame.png' /><span class='stat-val'>2400</span><span class='equip-val small'>Brooch</span></div>
    <div class="equip" style="left:755px; top:100px;"><img class="small-icon" src='png/equipFrame.png' /><span class='stat-val'>2400</span><span class='equip-val small'>Mask</span></div>
    <div class="equip" style="left:666px; top:125px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Leather Helm</span></div>
    <div class="equip" style="left:666px; top:275px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Leather Chestguard</span></div>
    <div class="equip" style="left:766px; top:300px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Leather Gloves</span></div>
    <div class="equip" style="left:566px; top:225px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Migthy Sword</span></div>
    <div class="equip" style="left:640px; top:440px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Leather Boots</span></div>
    <div class="equip" style="left:766px; top:420px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Other Thing</span></div>
    <div class="equip" style="left:540px; top:360px;"><img class="icon" src='png/equipFrame.png' /><span class='stat-val'>1000</span><span class='equip-val'>Best Friend</span></div>
    
    
    <div style="position: absolute; left:100px; top:100px;">
        <RadioSelect Placeholder="Sort"
                     Options="SortOptions"
                     Value="Sort"
                     ValueChanged="OnSortChanged" />
    </div>
    @code {
        private string? Sort = "Recent";

        private IReadOnlyList<RadioSelect.Option> SortOptions = new[]
        {
        new RadioSelect.Option("Recent", "Most recent"),
        new RadioSelect.Option("Popular", "Most popular"),
        new RadioSelect.Option("PriceAsc", "Price ↑"),
        new RadioSelect.Option("PriceDesc", "Price ↓"),
        new RadioSelect.Option("Rating", "Rating"),
        };

        private Task OnSortChanged(string? v)
        {
            Sort = v;
            return Task.CompletedTask;
        }
    }
    <!--
    <div class="character-panel-split">
        <div class="character-panel-left">                        
             <section class="stat-section">
                <div class="character-stat-header">
                    HERO
                </div>
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Hero Health.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Hero Damage.png'/><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Move Speed.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Cast Rate.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
            <section class="stat-section">
                <div class="character-stat-header">
                    ABILITIES
                </div>
                <div class="icon-row two-items">
                    <div class="stat"><img class="icon" src='png/AB1/Monk AB1.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/AB2/Hero Boost Monk AB2.png' /><span class='stat-val'>100</span></div>
                </div>

                <div class="character-stat-header">
                    SUMMONS
                </div>
            </section>
            <section class="stat-section">            
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Tower Health.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Damage.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Range.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Rate.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
            <section class="stat-section">            
                <div class="character-stat-header">
                    RESISTANCE
                </div>
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Generic Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Poison Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Fire Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Lightning Resistance.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
        </div>
        <div class="character-panel-right">
            <p class="muted">Select an item to see details.</p>                                               
        </div>
    </div>-->
</div>
@code {
    // Character selection
    // keep track of equippables
    // select => fills in collectible => icons
    // Clicking on equipment unequips
    // Hover for item stats, item compare
    // class icons
    // swap out class stat icons (everywhere).  Monk is default
    // best equipment => select 


}
